<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="icon" href="/OIP.jpg" type="image/jpeg">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
        h1{
            text-align: center;
            color: #3498db;
        }
        p{
            text-align: center;

        }

    </style>
</head>
<body>
<h1><%= title %></h1>


<img src="/e3bc6d74.webp" alt="Image"  style="max-width: 100%; height: auto;">
</body>
</html>
